body{
	margin: 0;
	padding: 0;
}

div{
	width: 340px;
	height: 200px;
}

.contenedor{
	overflow: auto;
	border: 1px solid #bcbcbc;
}
.amarillo{
	background-color: yellow;
}
.azul{
	background-color: blue;
}
.rojo{
	background-color: red;
}